/ section#faq.section
/   .wrapsection
/     .container
/       .row
/         .col-md-12.sol-sm-12
/           .maintitle
/             h3.section-title
/               | Conditions of 
/               span.wow.bounceInRight
/                 | Participation
/             p.lead
/               |  Sed gravida, tortor in tincidunt sagittis, ligula lacus ultrices justo, sed mattis sem sem ut ex. Ut nunc elit, auctor et quam sit amet, convallis purus. 
/       .row
/         .col-md-4.col-sm-12
/           .faq-block.wow.bounceInDown[data-wow-duration="1.5s" data-wow-delay="0s"]
/             .panel-group
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseOne"]
/                       |  How old can I be? 
/                 #collapseOne.panel-collapse.collapse
/                   .panel-body
/                     |  How old. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"]
/                       |  Can we donate clothes? 
/                 #collapseTwo.panel-collapse.collapse
/                   .panel-body
/                     |  Can we? This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseThree"]
/                       |  How many miles to run ? 
/                 #collapseThree.panel-collapse.collapse
/                   .panel-body
/                     |  So how many. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/         .col-md-4.col-sm-12
/           .faq-block.wow.bounceInDown[data-wow-duration="1.5s" data-wow-delay="0.1s"]
/             .panel-group
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseFour"]
/                       |  Can we show sponsors? 
/                 #collapseFour.panel-collapse.collapse
/                   .panel-body
/                     |  Sponsors. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseFive"]
/                       |  Are there free drinks? 
/                 #collapseFive.panel-collapse.collapse
/                   .panel-body
/                     |  Drinks. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseSix"]
/                       |  Is medical exam free ? 
/                 #collapseSix.panel-collapse.collapse
/                   .panel-body
/                     |  Medical. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/         .col-md-4.col-sm-12
/           .faq-block.wow.bounceInDown[data-wow-duration="1.5s" data-wow-delay="0.2s"]
/             .panel-group
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"]
/                       |  Do you help with passport? 
/                 #collapseSeven.panel-collapse.collapse
/                   .panel-body
/                     |  Passport. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseEight"]
/                       |  What routes should one follow? 
/                 #collapseEight.panel-collapse.collapse
/                   .panel-body
/                     |  Routes. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
/               .panel.panel-default
/                 .panel-heading
/                   h4.panel-title
/                     a[data-toggle="collapse" data-parent="#accordion" href="#collapseNine"]
/                       |  Do I have to pay a tax? 
/                 #collapseNine.panel-collapse.collapse
/                   .panel-body
/                     |  Tax. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 