/ section#slider.parallax.section[style="background-image: url(http://themepush.com/demo/runcharity/assets/img/4.jpg);"]
/   .wrapsection
/     .container
/       .row
/         .col-md-12
/           #Carousel.carousel.slide
/             ol.carousel-indicators
/               li.active[data-target="#Carousel" data-slide-to="0"]
/               li[data-target="#Carousel" data-slide-to="1"]
/               li[data-target="#Carousel" data-slide-to="2"]
/             .carousel-inner
/               .item.active
/                 blockquote
/                   p.lead
/                     |  You have not lived today until you have done something for someone who can never repay you. 
/                   small
/                     | John Bunyan, Marathon
/               .item
/                 blockquote
/                   p.lead
/                     |  The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer. 
/                   small
/                     | Mahatma Gandhi
/               .item
/                 blockquote
/                   p.lead
/                     |  There is no exercise better for the heart than reaching down and lifting people up. 
/                   small
/                     | John Holmes, Organizer
/             a.left.carousel-control[href="#Carousel" data-slide="prev"]
/               span.glyphicon.glyphicon-chevron-left
/             a.right.carousel-control[href="#Carousel" data-slide="next"]
/               span.glyphicon.glyphicon-chevron-right